.DS_Store
*.iml
*.lock
*.log
.gradle/
/local.properties
/captures/
.cxx/
*.jks
*.keystore
/build/
/dist/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
.pub-cache/
.pub/
coverage/
.env
.env.local
.idea/
.vscode/
*.swp
*.swo
*~
